<h1>Ritly</h1>
	<p>URL to shorten</p><%= form_for "/show",  :method => :post, :code => "urls#create" do %>
		<div class="input-append">
		<%= text_field_tag :q, params[:q], {:code => "urls#preview"}%>
		<%= submit_tag "Create URL", :class => "btn" %>
		<% end %>
	</div>
	

		