<h1><%= @urls.hash_code %> is your code for <%= @urls.link %></h1>
<p> You can direct users to this Ritley URL : <%= link_to @full_path, @full_path %></p>
<p> The Ritly URL will redirect them to: <%= link_to @urls.link, @urls.link %></p>